language: java
os:
  - linux
  
jdk:
  - oraclejdk8
  
sudo: false

install: true

addons:
  sonarcloud:
    organization: "francescosecci-github"
    token:
      secure: "D+FOd8SZrUvzgG9GSuXT5vormSuMOS9Zd+S0KOfA7x8Re7O1rWAQjPovAq3YX5tGMFag/BdUkgNQdttPd5GMg536D3sGRJy8UnWs8UT50Qrpy0Owf9bMGC8egv1D+7S+AGLeWLydtsKDXtTM/1NgloenLaW58kO4e6SmiSab+lGAdNOSJOFGuSdg48HfWEwgDdHwdEHWnknpvAfqjdTcWsDB2ira0tDLMsU0f29XmSNkprASesjoZA8Y09jGBzXlhAfkwMbyC7v/KyiZFD2Mn1eeZ7qre/Cq4THdVFtIdVeCqbmPWrALC+akKCPWf+qVOBCKJmC936/sklxrZHvvGQ/CBH7cwjycY8Fa6eQFbrne3Zyhb+4VZ+4n/Gh1HZcbb3TdADxAsVTX3yUYXM6n2uH8igcI82K3e3Er1uhCh4RS1Dzw0IP5DsPnCwWR7bghtGbSB5Acc2UBWxzQPIaz7unFZFk+MHVS1i0IP5UuDGg4GJ1Swz4oDXiTUT9bNVN8hqanS0bULahblMOC+LS/XIfcqRQAMwJ3yzyOyT+UhFa/b0O+5s+ue37M1slzsn+goY0YsiUdQm354Ic5oUqmtGLq1gDVxhpZXhyEjbznw+UeQQj+NY2Xa4mGjRRtDvWb31h0Obv4D4xuLAGNSQq66IDILlhfIHdpIi0Kr/+Kot8="

services:
  - mongodb
db:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: db_example
      MYSQL_USER: springboot
      MYSQL_ROOT_PASSWORD: password  

script:
 - mvn -f server/pom.xml clean verify -Pjacoco coveralls:report
 - mvn -f server/pom.xml clean verify -Pjacoco sonar:sonar
 - mvn -f server/pom.xml verify -Pfailsafe
 
after_failure:
  - cat /home/travis/build/francescosecci/sp-server-attsw/server/target/surefire-reports/*.txt 

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'


  
